<p-iconfield>
  <p-inputicon styleClass="pi pi-barcode" />
  <p-autocomplete
    [(ngModel)]="searchText"
    [suggestions]="suggestions"
    (completeMethod)="search($event)"
    (onSelect)="onSelect($event)"
    (onClear)="onClear()"
    optionLabel="name"
    placeholder="Search products or scan barcode..."
    [minLength]="1"
    [delay]="300"
    styleClass="product-search"
    inputStyleClass="product-search-input"
    [showClear]="true"
  >
    <ng-template let-product pTemplate="item">
      <div class="search-item">
        <div class="search-item-top">
          <span class="search-item-name">{{ product.name }}</span>
          <span class="search-item-price">{{ product.retail_price | phpCurrency }}</span>
        </div>
        <div class="search-item-bottom">
          <span class="search-item-meta">
            {{ product.sku }} &middot; {{ product.current_stock }} {{ product.unit }}
          </span>
          @if (product.category) {
            <span class="category-badge" [style.borderColor]="getCategoryColor(product)">
              {{ product.category.name }}
            </span>
          }
        </div>
      </div>
    </ng-template>
  </p-autocomplete>
</p-iconfield>
