.customer-name {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;

  .name {
    font-weight: 600;
    color: #111827;
  }

  .email {
    font-size: 0.8rem;
    color: #6b7280;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.actions-cell {
  white-space: nowrap;
}
