<div class="cart-item">
  <div class="item-left">
    <div class="item-title-row">
      <span class="item-name">{{ item.product.name }}</span>
      @if (showFifoInfo()) {
        <button
          type="button"
          class="fifo-help-btn"
          [pTooltip]="getFifoTooltip()"
          tooltipPosition="top"
          [escape]="false"
          appendTo="body"
        >
          <i class="pi pi-info-circle"></i>
        </button>
      }
    </div>
    <span class="item-price">{{ item.unit_price | phpCurrency }}</span>
  </div>
  <div class="item-center">
    <button class="qty-btn" (click)="decrement()" type="button">
      <i class="pi pi-minus"></i>
    </button>
    <span class="qty-value">{{ item.quantity }}</span>
    <button
      class="qty-btn"
      (click)="increment()"
      [disabled]="item.quantity >= item.product.current_stock"
      type="button"
    >
      <i class="pi pi-plus"></i>
    </button>
  </div>
  <div class="item-right">
    <span class="item-subtotal">{{ item.unit_price * item.quantity | phpCurrency }}</span>
    <button class="remove-btn" (click)="removed.emit()" type="button">
      <i class="pi pi-times"></i>
    </button>
  </div>
</div>
