<p-autocomplete
      [(ngModel)]="searchText"
      [suggestions]="suggestions"
      (completeMethod)="search($event)"
      (onSelect)="onSelect($event)"
      optionLabel="name"
      placeholder="Search products or scan barcode..."
      [minLength]="1"
      [delay]="300"
      styleClass="pos-search"
      inputStyleClass="pos-search-input"
      [showClear]="true"
    >
      <ng-template let-product pTemplate="item">
        <div class="search-item">
          <span class="search-item-name">{{ product.name }}</span>
          <span class="search-item-meta">
            {{ product.sku }} &middot; {{ product.current_stock }} {{ product.unit }}
          </span>
        </div>
      </ng-template>
    </p-autocomplete>
